

{% extends 'base.html' %}

{% block content %}
<p1> Hi! My name is Grace Phillips. I was born and raised just a little over an hour outside of Milledgeville in McDonough, GA. I went to Union Grove High School and graduated during covid in 2020. I have three siblings, and we are all within three and a half years of one another in age. One twin sister, one little brother, and one little sister. My twin sister plays soccer at Georgia Southern University and my little sister is a sophomore and plays soccer here at GCSU with me.  </p1>
<br>
<p2> I committed to play soccer at GCSU my junior year of high school. I knew Milledgeville was the place for me based on the location and the atmosphere. The location is a big plus for me because my family is only an hour and fifteen minutes away from me, athens is about an hour and half away, and there is a lake fifteen minutes away! During the fall, whenever I am not playing soccer, I am attending Georgia games. My family has had season tickets for the past ten years. One fun fact about me is that I have been to two National Championships. My first National Championship was in 2018 on my 16th birthday where we played in Atlanta against Alabama. My second National Championship was when we drove to Indianapolis to watch the dawgs win against Alabama. Both were fantastic experiences, however one was better than the other (of course lol).</p2>
<br>
<p3> I recently graduated with my undergraduate degree in Marketing in December of 2023. Shortly after, I started the MMIS program at GCSU and decided to take my last year of eligibility to play soccer. I have found a new passion for technology and programming through my coursework in the MMIS program. Currently, I am a graduate assistant in the Old Governor's Mansion. Upon graduation in May, I hope to find a full time job in the tech industry.  </p3>

{% endblock %}



